@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Smooch+Sans:wght@100..900&display=swap');
@import "tailwindcss";

/* CODE CSS DIBAWAH */

* {
  box-sizing: border-box;
  /* border: 1px solid blue !important; */
}

html {
  scroll-behavior: smooth;
}

:root {
  --font-righteous: 'Righteous', cursive;
  --font-smooch-sans: 'Smooch Sans', sans-serif;
  --color-text: #333333;
  --color-background: #121212;
  --color-white: #EEEEEE;
}

.bg-darked {
  background-color: var(--color-background);
}

.bg-whited {
  background-color: var(--color-white);
}

.color-whited {
  color: var(--color-white);
}

.color-texted {
  color: var(--color-text);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.hide-x::-webkit-scrollbar {
  display: none !important;
}

.gradient-text {
  background: linear-gradient(90deg, #eeeeee, #333333, #333333, #333333, #333333, #eeeeee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: var(--font-righteous);
}

.gradient-text2 {
  background: linear-gradient(90deg, transparent, #eeeeee, #eeeeee, #eeeeee, #eeeeee, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: var(--font-righteous);
}

.font-righteous {
  font-family: var(--font-righteous);
}

.font-smooch-sans {
  font-family: var(--font-smooch-sans);
}

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition:
    stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
  transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}


.track {
  top: 50%;
  transform: translateY(-50%) translateX(0);
}

.slide img {
  transition: 0.2s ease;
}

.slide img:hover {
  opacity: 1;
  transform: translateY(-5px);
}

.gradient-left,
.gradient-right {
  position: absolute;
  top: 0;
  height: 100%;
  width: 4rem;
  pointer-events: none;
  z-index: 10;
}

.gradient-left {
  left: 0;
  background: linear-gradient(to left, #eeeeee 0%, #eeeeee 100%);
  background: linear-gradient(to left, rgba(230, 230, 230, 0) 0%, #eeeeee 100%);
}

.gradient-right {
  right: 0;
  background: linear-gradient(to right, rgba(230, 230, 230, 0) 0%, #eeeeee 100%);
}

.slide-img {
  height: 30px;
  transition: 0.2s ease;
  opacity: 0.7;
}

@media (min-width: 768px) {
  .slide-img {
    height: 40px;
  }
}

@media (min-width: 1024px) {
  .slide-img {
    height: 60px;
  }
}

.slide-img:hover {
  opacity: 1;
  transform: translateY(-5px);
}

.mask {
  mask-image: linear-gradient(90deg, transparent, var(--color-background) 10%, var(--color-background) 90%, transparent);
}

.move-track {
  white-space: nowrap;
  will-change: transform;
}

/* ================= LOADER STYLE ================= */
.loader-wrapper {
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

/* From Uiverse.io by KSAplay */
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.loading-text {
  color: white;
  font-size: 14pt;
  font-weight: 600;
  margin-left: 10px;
}

.dot {
  margin-left: 3px;
  animation: blink 1.5s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

.loading-bar-background {
  --height: 30px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  width: 240px;
  max-width: 80vw;
  height: var(--height);
  background-color: #212121;
  box-shadow: #0c0c0c -2px 2px 4px 0px inset;
  border-radius: calc(var(--height) / 2);
  position: relative;
  overflow: hidden;
}

/* this is the actual fill - width controlled by JS */
.loading-bar {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  --height: 20px;
  height: var(--height);
  width: 0%;
  background: linear-gradient(0deg, rgba(222, 74, 15, 1) 0%, rgba(249, 199, 79, 1) 100%);
  border-radius: calc(var(--height) / 2);
  transition: width 300ms cubic-bezier(.2, .8, .2, 1);
  z-index: 1;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35) inset;
}

/* decorative bars on top (move with CSS only) */
.white-bars-container {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 14px;
  left: 6px;
  z-index: 2;
  pointer-events: none;
  transform: translateY(-6px);
}

/* thin slanted white bars */
.white-bar {
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0) 70%);
  width: 10px;
  height: 45px;
  opacity: 0.25;
  transform: rotate(45deg);
}

/* percent text */
.progress-percent {
  color: #eee;
  font-family: var(--font-smooch-sans);
  font-weight: 600;
  font-size: 14px;
}

@keyframes loading {
  0% {
    width: 0;
  }

  80% {
    width: 100%;
  }

  100% {
    width: 100%;
  }
}

@keyframes blink {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}


@font-face {
  font-family: 'tawk-font-icon-3';
  src: url('https://embed.tawk.to/fonts/tawk-font-icon-3.woff?55755728=') format('woff');
  font-display: swap !important;
}