@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Smooch+Sans:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    /* border: 1px solid blue !important; */
}

html {
    scroll-behavior: smooth;
}

:root {
    --font-righteous: 'Righteous', cursive;
    --font-smooch-sans: 'Smooch Sans', sans-serif;
    --color-text: #333333;
    --color-background: #121212;
    --color-white: #EEEEEE;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


body {
    height: 500vh;
}

.hide-x::-webkit-scrollbar {
    display: none !important;
}

.gradient-text {
    background: linear-gradient(90deg, #eeeeee, #333333, #333333, #333333, #333333, #eeeeee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: var(--font-righteous);
}

.gradient-text2 {
    background: linear-gradient(90deg, transparent, #eeeeee, #eeeeee, #eeeeee, #eeeeee, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: var(--font-righteous);
}

.font-righteous {
    font-family: var(--font-righteous);
}

.font-smooch-sans {
    font-family: var(--font-smooch-sans);
}

.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition:
        stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}


.track {
    top: 50%;
    transform: translateY(-50%) translateX(0);
}

.slide img {
    transition: 0.2s ease;
}

.slide img:hover {
    opacity: 1;
    transform: translateY(-5px);
}

.gradient-left,
.gradient-right {
    position: absolute;
    top: 0;
    height: 100%;
    width: 4rem;
    pointer-events: none;
    z-index: 10;
}

.gradient-left {
    left: 0;
    background: linear-gradient(to left, #eeeeee 0%, #eeeeee 100%);
    background: linear-gradient(to left, rgba(230, 230, 230, 0) 0%, #eeeeee 100%);
}

.gradient-right {
    right: 0;
    background: linear-gradient(to right, rgba(230, 230, 230, 0) 0%, #eeeeee 100%);
}

.slide-img {
    height: 30px;
    transition: 0.2s ease;
    opacity: 0.7;
}

@media (min-width: 768px) {
    .slide-img {
        height: 40px;
    }
}

@media (min-width: 1024px) {
    .slide-img {
        height: 60px;
    }
}

.slide-img:hover {
    opacity: 1;
    transform: translateY(-5px);
}

.mask {
    mask-image: linear-gradient(90deg, transparent, var(--color-background) 10%, var(--color-background) 90%, transparent);
}

.move-track {
    white-space: nowrap;
    will-change: transform;
}

/* ================= LOADER STYLE ================= */
.loader-wrapper {
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

/* From Uiverse.io by KSAplay */
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.loading-text {
  color: white;
  font-size: 14pt;
  font-weight: 600;
  margin-left: 10px;
}

.dot {
  margin-left: 3px;
  animation: blink 1.5s infinite;
}
.dot:nth-child(2) {
  animation-delay: 0.3s;
}
.dot:nth-child(3) {
  animation-delay: 0.6s;
}

.loading-bar-background {
  --height: 30px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  width: 200px;
  height: var(--height);
  background-color: #212121;
  box-shadow: #0c0c0c -2px 2px 4px 0px inset;
  border-radius: calc(var(--height) / 2);
}

.loading-bar {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  --height: 20px;
  width: 0%;
  height: var(--height);
  overflow: hidden;
  background: linear-gradient(
    0deg,
    rgba(222, 74, 15, 1) 0%,
    rgba(249, 199, 79, 1) 100%
  );
  border-radius: calc(var(--height) / 2);
  animation: loading 4s ease-out infinite;
}

.white-bars-container {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 18px;
}

.white-bar {
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  width: 10px;
  height: 45px;
  opacity: 0.3;
  rotate: 45deg;
}

@keyframes loading {
  0% {
    width: 0;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}