@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Smooch+Sans:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    /* border: 1px solid blue !important; */
}

:root {
    --font-righteous: 'Righteous', cursive;
    --font-smooch-sans: 'Smooch Sans', sans-serif;
    --color-text: #333333;
    --color-background: #121212;
    --color-white: #EEEEEE;
}


body {
    height: 500vh;
}

.hide-x::-webkit-scrollbar {
    display: none !important;
}

.gradient-text {
    background: linear-gradient(90deg, #eeeeee, #333333, #333333, #333333, #333333, #eeeeee);
    -webkit-background-clip: text;
    /* untuk Safari & Chrome */
    -webkit-text-fill-color: transparent;
    /* membuat teks transparan */
    background-clip: text;
    /* standar modern */
    font-family: var(--font-righteous);
}

.font-righteous {
    font-family: var(--font-righteous);
}

.font-smooch-sans {
    font-family: var(--font-smooch-sans);
}

/* From Uiverse.io by talhabangyal */
.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition:
        stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}


.track {
    top: 50%;
    transform: translateY(-50%) translateX(0);
}

.slide img {
    transition: 0.2s ease;
}

.slide img:hover {
    opacity: 1;
    transform: translateY(-5px);
}

/* Gradient overlays */
.gradient-left,
.gradient-right {
    position: absolute;
    top: 0;
    height: 100%;
    width: 4rem;
    /* bisa disesuaikan */
    pointer-events: none;
    z-index: 10;
}

.gradient-left {
    left: 0;
    background: linear-gradient(to left, #eeeeee 0%, #eeeeee 100%);
    background: linear-gradient(to left, rgba(230, 230, 230, 0) 0%, #eeeeee 100%);
}

.gradient-right {
    right: 0;
    background: linear-gradient(to right, rgba(230, 230, 230, 0) 0%, #eeeeee 100%);
}

/* Slide images */
.slide-img {
    height: 30px;
    transition: 0.2s ease;
    opacity: 0.7;
}

@media (min-width: 768px) {
    .slide-img {
        height: 40px;
    }
}

@media (min-width: 1024px) {
    .slide-img {
        height: 60px;
    }
}

.slide-img:hover {
    opacity: 1;
    transform: translateY(-5px);
}